.btn-basic {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid;
  border-radius: 0.6em;
  color: black;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }
  .btn-basic:hover, .btn-basic:focus {
    color: #fff;
    outline: 0; }

.btn-submit {
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-color: #24b863;
  color: #24b863;
  border-radius: 1.5em;
  padding: 1em;
  border-width: 0px;
  background-image: linear-gradient(90deg, #24b863 50%, transparent 50%);
  background-position: 67%;
  background-size: 400%;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1); }
  .btn-submit:hover {
    background-position: 32%;
    color: #fff;
    border-radius: 2em; }
