.btn-basic {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  /*  text-transform: uppercase;
  */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }
  .btn-basic:hover, .btn-basic:focus {
    color: #fff;
    outline: 0; }

.btn-submit {
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-color: #24b863;
  color: #24b863;
  border-radius: 1.5em;
  padding: 1em;
  border-width: 0px;
  background-repeat: none;
  background-image: linear-gradient(90deg, #24b863 50%, transparent 50%);
  background-position: 67%;
  background-size: 400%;
  transition: all 0.95s cubic-bezier(0.65, 0, 0.076, 1);
  /*  transition: background 300ms ease-in-out;
  */ }
  .btn-submit:hover {
    background-position: 32%;
    color: #fff;
    border-radius: 2em; }

.btn-submit-2 {
  border-color: #8e44ad;
  /*  border-radius: 1em;
  */
  padding: 0.3em 0.3em;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  .btn-submit-2:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #8e44ad;
    z-index: -1;
    transition: width 150ms ease-in-out; }
  .btn-submit-2:hover {
    color: #fff; }
    .btn-submit-2:hover:after {
      width: 110%; }
