$green: #24b863;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.btn-basic {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid;
  border-radius: 0.6em;
  color: black;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.btn-submit {
  background: #fff;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border-color: $green;
  color: $green;
  border-radius: 1.5em;
  padding: 1em;
  border-width: 0px;
  background: {
    image: linear-gradient(90deg,$green 50%, transparent 50%);
    position: 67%;
    size: 400%;
  }

  @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));

  &:hover {
    background-position: 32%;
    color: #fff;
    border-radius: 2em;
  }
}