input.form-underline {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem 0rem 0.2rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
  box-shadow: none;
  transition: border-color .15s ease-in-out;
}

input.form-underline:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}


