* {
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  font-size: 1.75rem
}

h2 {
  font-size: 1.55rem
}

h3 {
  font-size: 1.25rem
}

.small-text {
  font-size: 0.7rem
}

.small-text-l {
  font-size: 0.8rem
}

.color-hover { 
    -moz-transition: all .2s smooth;
    -o-transition: all .2s smooth;
    -webkit-transition: all .2s smooth;
    transition: all .2s smooth;
    /*color: #f5f5f5;*/ 
}

.color-hover:hover { 
    color: #007bff!important;
}

.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }