{% extends "layout.html" %}

{% block body %}
  <div class="d-flex flex-row bg-white border rounded py-1">
    <div class="d-flex flex-row">
      <div class="likes-container d-flex flex-column px-1"
           style="min-width: 50px;">
        <div class="mx-auto text-center" style="margin-bottom: -10px; margin-top: 5px;">
          <form method="POST" action="{{ url_for('posts_undo_like' if post.userLike.name == 'like' else 'posts_like' , post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <span class="material-icons md-18 visible {{ 'text-green' if post.userLike.name == 'like' else 'text-muted'}}" style="transform: rotate(-90deg);">
                forward
              </span>
            </button>
          </form>
        </div>
        <div class="mx-auto text-center">
          <span title="{{ post.likes }} - {{ post.dislikes }}" class="font-weight-bold">
            {{ post.likes - post.dislikes }}
          </span>
        </div>
        <div class="mx-auto text-center" style="margin-top: -4px;">
          <form method="POST" action="{{ url_for('posts_undo_dislike' if post.userLike.name == 'dislike' else 'posts_dislike', post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <span class="material-icons md-18 visible {{ 'text-danger'  if post.userLike.name == 'dislike' else 'text-muted'}}" style="transform: rotate(90deg);">
                forward
              </span>
            </button>
          </form>
        </div>
      </div>
      <div class="post-container d-flex flex-column p-2 pr-4">
        <div class="small-text-l text-dark mb-1">
          Posted by
          <span class="small-text-l text-dark font-weight-bold mr-1">
            {{ post.user.username if post.user else '[deleted]'}}
          </span> {{ post.time_since_created_str() }}
        </div>
        <article class="user-post">
          <header class="title-container flex-grow-1 my-auto">
            <h1>{{ post.title }}<h1>
          </header>
          <hr class="my-2 shadow-sm">
          <div class="content-container flex-grow-1 my-auto">
          {% for paragraph in post.content.split('\n') %}
            <p>{{ paragraph }}</p>
          {% endfor %}
          </div>
        </article>
        <div class="misc-container d-flex flex-row">
          <div class="comments mr-3">
            <a class="invisible" href="{{ url_for('posts_details', post_id=post.id) }}#Comments">
              <button class="invisible p-0" type="submit">
                <div class="d-flex flex-row btn p-0 color-hover visible">
                  <div class="material-icons md-18 visible">forum</div>
                  <div class="visible pb-2 pl-1 small font-weight-bold">{{ post.comments }} Comment{{'s' if post.comments != 1 else ''}}</div>
                </div>
              </button>
            </a>
          </div>
        {% if current_user.id == post.account_id %}
          <div class="edit mr-3">
            <a class="invisible" href="{{ url_for('posts_edit_form', post_id=post.id) }}">
              <button class="invisible p-0" type="submit">
                <div class="d-flex flex-row btn p-0 color-hover visible">
                  <div class="material-icons md-18 visible">edit</div>
                  <div class="visible pb-2 pl-1 small font-weight-bold">Edit</div>
                </div>
              </button>
            </a>
          </div>
          <div class="text-left">
            <form method="POST" action="{{ url_for('posts_delete', post_id=post.id) }}">
              <button class="invisible p-0" type="submit">
                <div class="d-flex flex-row btn p-0 color-hover-red visible">
                  <div class="material-icons md-18 visible">delete</div>
                  <div class="visible pb-2 pl-1 small font-weight-bold">Delete</div>
                </div>
              </button>
            </form>
          </div>
        {% endif %}
        </div>
      </div>  
    </div>
  </div>
{% include '/comments/list.html' %}
{% endblock %}