{% extends "layout.html" %}

{% block body %}
  <div class="d-flex flex-row bg-white border rounded py-1">
    <div class="d-flex flex-row">
      <div class="likes-container d-flex flex-column px-1"
           style="min-width: 50px;">
        <div class="mx-auto mb-n3 text-center">
          <form method="POST" action="{{ url_for('posts_like', post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <i class="material-icons visible">arrow_drop_up</i>
            </button>
          </form>
        </div>
        <div class="mx-auto text-center">
          <span class="font-weight-bold">{{ post.likes }}</span>
        </div>
        <div class="mx-auto mt-n2 text-center">
          <i class="material-icons">arrow_drop_down</i>
        </div>
      </div>
      <div class="post-container d-flex flex-column p-2 pr-4">
        <div class="title-container flex-grow-1 my-auto">
          <h1>{{ post.title }}<h1>
        </div>
        <div class="content-container flex-grow-1 my-auto">
          <p>{{ post.content }}</p>
        </div>
        <div class="misc-container d-flex flex-row">
          <div class="comments mr-3">
            <span class="font-weight-bold">2.7k Comments</span>
          </div>
          <div class="edit mr-3">
            <a href="{{ url_for('posts_edit_form', post_id=post.id) }}">
              <span class="font-weight-bold">Edit</span>
            </a>
          </div>
        </div>
      </div>  
    </div>
  </div>
{% endblock %}