{% extends "layout.html" %}

{% block body %}
  <div class="d-flex flex-row bg-white border rounded py-1">
    <div class="d-flex flex-row">
      <div class="likes-container d-flex flex-column px-1"
           style="min-width: 50px;">
        <div class="mx-auto mb-n3 text-center">
        {% if post.userLike.name == "like" %}
          <form method="POST" action="{{ url_for('posts_undo_like', post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <span class="material-icons font-weight-bold visible text-success">arrow_drop_up</span>
            </button>
          </form>
        {% else %}
          <form method="POST" action="{{ url_for('posts_like', post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <span class="material-icons font-weight-bold visible">arrow_drop_up</span>
            </button>
          </form>
        {% endif %}
        </div>
        <div class="mx-auto text-center">
          <span title="{{ post.likes }} - {{ post.dislikes }}" class="font-weight-bold">{{ post.likes - post.dislikes }}</span>
        </div>
        <div class="mx-auto mt-n2 text-center">
        {% if post.userLike.name == "dislike" %}
          <form method="POST" action="{{ url_for('posts_undo_dislike', post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <span class="material-icons font-weight-bold visible text-danger">arrow_drop_down</span>
            </button>
          </form>
        {% else %}
          <form method="POST" action="{{ url_for('posts_dislike', post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <span class="material-icons font-weight-bold visible">arrow_drop_down</span>
            </button>
          </form>
        {% endif %}
        </div>
      </div>
      <div class="post-container d-flex flex-column p-2 pr-4">
        <div class="small-text-l text-dark mb-1">
          Posted by
          <span class="small-text-l text-dark font-weight-bold mr-1">
            {{ post.user.username if post.user else '[deleted]'}}
          </span> {{ post.time_since_created_str() }}
        </div>
        <div class="title-container flex-grow-1 my-auto">
          <h1>{{ post.title }}<h1>
          <hr class="my-2 shadow-sm">
        </div>
        <div class="content-container flex-grow-1 my-auto">
        {% for paragraph in post.content.split('\n') %}
          <p>{{ paragraph }}</p>
        {% endfor %}
        </div>
        <div class="misc-container d-flex flex-row">
          <div class="comments mr-3">
            <a class="invisible" href="{{ url_for('posts_details', post_id=post.id) }}#Comments">
              <button class="invisible p-0" type="submit">
                <div class="d-flex flex-row btn p-0 color-hover visible">
                  <div class="material-icons md-18 visible">forum</div>
                  <div class="visible pb-2 pl-1 small font-weight-bold">{{ post.comments }} Comments</div>
                </div>
              </button>
            </a>
          </div>
        {% if current_user.id == post.account_id %}
          <div class="edit mr-3">
            <a class="invisible" href="{{ url_for('posts_edit_form', post_id=post.id) }}">
              <button class="invisible p-0" type="submit">
                <div class="d-flex flex-row btn p-0 color-hover visible">
                  <div class="material-icons md-18 visible">edit</div>
                  <div class="visible pb-2 pl-1 small font-weight-bold">Edit</div>
                </div>
              </button>
            </a>
          </div>
          <div class="text-left">
            <form method="POST" action="{{ url_for('posts_delete', post_id=post.id) }}">
              <button class="invisible p-0" type="submit">
                <div class="d-flex flex-row btn p-0 color-hover visible">
                  <div class="material-icons md-18 visible">delete</div>
                  <div class="visible pb-2 pl-1 small font-weight-bold">Delete</div>
                </div>
              </button>
            </form>
          </div>
        {% endif %}
        </div>
      </div>  
    </div>
  </div>
{% include '/comments/list.html' %}
{% endblock %}