{% extends "layout.html" %}

{% block body %}
<div class="bg-white border rounded p-3">
  <div class="p-2 text-center">
    <h1>Edit post</h1>
  </div>
  <form method="POST" action="{{ url_for('posts_edit', post_id=post.id) }}">
    <div class="my-2">
      {{ form.title.label(class_="font-weight-bold") }}
      {{ form.title(class_="form-control", value=post.title) }}
    </div>
    <div class="text-info">
      <ul>
        {% for error in form.title.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="my-2">
      {{ form.content.label(class_="font-weight-bold") }}
      <!-- https://stackoverflow.com/questions/5117479/wtforms-how-to-prepopulate-a-textarea-field
      I have no idea why this works. -->
      {% set f = form.content.process_data(post.content) %}
      {{ form.content(rows=12, class_="form-control") }}
    </div>
    <div class="text-info">
      <ul>
        {% for error in form.content.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <div>
       <button class="btn btn-success btn-block btn-rounded" type="submit">Confirm</button>
    </div>
  </form>
</div>
{% endblock %}