{% extends "layout.html" %}

{% block body %}
  <div class="d-flex flex-column mx-auto">
    <div class="d-flex flex-row m-0 p-1">
      <div class="text-center shadow-sm rounded bg-white">
        <form action="{{ url_for('posts_submit') }}">
        <button class="btn btn-lg btn-block btn-outline-success  font-weight-bold visible text-center">
          <div class="d-flex flex-row mb-n1">
            <div class="text-center my-auto ml-n1">
              <i class="material-icons font-weight-bold">add_circle_outline</i>
            </div>
            <div class="text-center m-auto pl-3 pb-2 pr-1">
              <span class="">Post something!</span>
            </div>
          </div>
        </button>
        </form>
      </div>
    </div>
  {% for post in posts %}
    <div class="d-flex flex-row shadow-sm rounded bg-white m-1">
      <div class="d-flex flex-column px-1"
           style="min-width: 50px;">
        <div class="mx-auto mb-n3 text-center">
          <form method="POST" action="{{ url_for('posts_like', post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <i class="material-icons font-weight-bold visible">arrow_drop_up</i>
            </button>
          </form>
        </div>
        <div class="mx-auto text-center">
          <span class="font-weight-bold">{{ post.likes }}</span>
        </div>
        <div class="mx-auto mt-n2 text-center">
          <i class="material-icons font-weight-bold">arrow_drop_down</i>
        </div>
      </div>
      <!-- Posted by, Title, Comment amount -->
<!--       <div class="d-flex flex-column">
        
      </div> -->
      <div class="flex-grow-1 my-auto pt-1 pl-1 pr-1">
        <!-- posted by -->
        <div class="text-muted small-text">
          Posted by <span class="text-muted small-text font-weight-bold mr-1">{{ post.user.username }}</span> {{ post.time_since_created() }}
        </div>
        <!-- title -->
        <div class="mt-1">
          <a href="{{ url_for('posts_details', post_id=post.id) }}">
            <h3 class="mb-0">{{ post.title }}</h3>
          </a>
        </div>
        <!-- comments + edit -->
        <div class="misc-container d-flex flex-row">
          <div class="comments mr-3">
            <span class="small-text text-muted font-weight-bold">2.7k Comments</span>
          </div>
        {% if current_user.id == post.account_id %}
          <div class="edit mr-3">
            <a href="{{ url_for('posts_edit_form', post_id=post.id) }}">
              <span class="small-text text-muted font-weight-bold">Edit</span>
            </a>
          </div>
        {% endif %}
        </div>
      </div>

    </div>
  {% endfor %}
  </div>
{% endblock %}