{% extends "layout.html" %}

{% block body %}
<section id="posts" class="d-flex flex-column mx-auto">
  <div class="p-0">
    <a class="invisible" style="text-decoration: none" href="{{ url_for('posts_submit') }}">
    <button class="visible btn-basic btn-submit">
      <div class="d-flex flex-row px-2">
        <span class="mr-2 material-icons md-18 font-weight-bold" style="margin: 2px">
          send
        </span>
        <span class="font-weight-bold">Post something!</span>
      </div>
    </button>
    </a>
  </div>
{% if not posts %}
  <div class="">
    <div class="text-center text-muted font-weight-bold" style="margin-top: 25vh">
      <h1>There doesn't seem to be anything here.</h1>
    </div>
  </div>
{% else %}
  <div class="d-flex flex-row">
    <div class="ml-auto d-flex flex-row">
    {% set queryArg = {'query': request.args.get('query')} if request.args.get('query') else {} %}
    {% set sorts = ['popular', 'newest', 'oldest'] %}
    {% set iconsBySort = {
      'popular': 'trending_up',
      'newest': 'vertical_align_top',
      'oldest': 'vertical_align_bottom'
      } %}
    {% set currentSort =  request.args.get('sort') or 'popular' %}
    {% for sort in sorts %}
      {% set isActive = 'active' if sort == currentSort else ''%}
      <a class="wrapper-link" href="{{ url_for('posts_index', sort=sort, **queryArg) }}" style="">
        <div class="d-flex flex-row smooth-link {{ isActive }} m-1 mt-3">
          <span class="material-icons md-18 font-weight-bold mx-1">
            {{ iconsBySort[sort] }}
          </span>
          <span class="visible small-text-l">
            {{ sort }}
          </span>
        </div>
      </a> 
    {% endfor %}
    </div>
  </div>

{% for post in posts %}
  <div class="d-flex flex-row shadow-sm rounded bg-white m-1">
    <div class="d-flex flex-column px-1"
         style="min-width: 50px;">
      <div class="mx-auto text-center" style="margin-bottom: -10px; margin-top: 5px;">
        <form method="POST" action="{{ url_for('posts_toggle_like', post_id=post.id, value=1) }}">
          <button class="invisible p-0" type="submit">
            <span class="material-icons md-18 visible {{ 'text-green' if post.userLike.name == 'like' else 'text-muted'}}" style="transform: rotate(-90deg);">
              forward
            </span>
          </button>
        </form>
      </div>
      <div class="mx-auto text-center">
        <span title="{{ post.likes }} - {{ post.dislikes }}" class="font-weight-bold">
          {{ post.likes - post.dislikes }}
        </span>
      </div>
      <div class="mx-auto text-center" style="margin-top: -4px;">
        <form method="POST" action="{{ url_for('posts_toggle_like', post_id=post.id, value=-1) }}">
          <button class="invisible p-0" type="submit">
            <span class="material-icons md-18 visible {{ 'text-danger'  if post.userLike.name == 'dislike' else 'text-muted'}}" style="transform: rotate(90deg);">
              forward
            </span>
          </button>
        </form>
      </div>
    </div>
    <!-- Posted by, Title, Comment amount -->
    <div class="flex-grow-1 my-auto pt-1 pl-1 pr-1">
      <!-- posted by -->
      <div class="posted-by text-secondary small-text">
        Posted by
        <span class="text-secondary small-text font-weight-bold mr-1">
          {{ post.user.username if post.user else '[deleted]'}}
        </span>
        {{ post.time_since_created_str() }}
      </div>
      <!-- title -->
      <div class="mt-1">
        <a href="{{ url_for('posts_details', post_id=post.id) }}">
          <h3 class="mb-0 text-body">{{ post.title }}</h3>
        </a>
      </div>
      <!-- comments + edit -->
      <div class="misc-container d-flex flex-row pt-1">
        <div class="comments mr-1">
          <a class="invisible" href="{{ url_for('posts_details', post_id=post.id) }}#Comments">
            <button class="invisible p-0" type="submit">
              <div class="d-flex flex-row btn p-0 color-hover text-secondary visible">
                <div class="material-icons md-14 visible">forum</div>
                <div class="visible pl-1 small-text font-weight-bold">
                {{ post.comments }} Comment{{'s' if post.comments != 1 else ''}}</div>
              </div>
            </button>
          </a>
        </div>
      {% if current_user.id == post.account_id %}
        <div class="edit mr-1">
          <a class="invisible" href="{{ url_for('posts_edit_form', post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <div class="d-flex flex-row btn p-0 color-hover text-secondary visible">
                <div class="material-icons md-14 visible">edit</div>
                <div class="visible pb-1 pl-1 small-text font-weight-bold">Edit</div>
              </div>
            </button>
          </a>
        </div>
        <div class="delete text-left mr-1">
          <form method="POST" action="{{ url_for('posts_delete', post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <div class="d-flex flex-row btn p-0 color-hover-red text-secondary visible">
                <div class="material-icons md-14 visible">delete</div>
                <div class="visible pb-1 pl-1 small-text font-weight-bold">Delete</div>
              </div>
            </button>
          </form>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
  <div class="page-nav-bar d-flex flex-row text-center mx-auto">
  {% set pageOtherArgs = request.args.copy() %}
  {% set _delete = pageOtherArgs.pop('page') if 'page' in pageOtherArgs %}
  {% if pagination.has_prev %}
    <a class="invisible" href="{{ url_for('posts_index', page=pagination.page-1, **pageOtherArgs) }}">
      <span class="visible color-hover pag3-link m-2 material-icons text-secondary">
        keyboard_arrow_left
      </span>
    </a>
  {% endif %}
  {% if not 1 in page_range %}
    <span class="pag3-link m-2">
      <a class="text-secondary small-text-l" href="{{ url_for('posts_index', page=1, **pageOtherArgs) }}">
        1
      </a>
    </span>
    <span class="pag3-link m-2">
        ...
    </span>
  {% endif %}
  {% for page in page_range %}
    {% set pageNumStyle = 'font-weight-bold' if page == pagination.page else 'small-text-l' %}
    <span class="pag3-link m-2">
      <a class="text-secondary {{ pageNumStyle }}" href="{{ url_for('posts_index', page=page, **pageOtherArgs) }}">
        {{ page }}
      </a>
    </span>
  {% endfor %}
  {% if not pagination.pages in page_range %}
    <span class="pag3-link m-2">
        ...
    </span>
    <span class="pag3-link m-2">
      <a class="text-secondary small-text-l" href="{{ url_for('posts_index', page=pagination.pages, **pageOtherArgs) }}">
        {{ pagination.pages }}
      </a>
    </span>
  {% endif %}
  {% if pagination.has_next%}
    <a class="invisible" href="{{ url_for('posts_index', page=pagination.page+1, **pageOtherArgs) }}">
      <span class="visible color-hover pag3-link m-2 material-icons text-secondary">
        keyboard_arrow_right
      </span>
    </a>
  {% endif %}
  </div>
{% endif %}
</section>
{% endblock %}