{% extends "layout.html" %}

{% block body %}
  <div class="d-flex flex-column mx-auto">
    <div class="d-flex flex-row m-0 p-1">
      <div class="text-center shadow-sm rounded bg-white">
        <form action="{{ url_for('posts_submit') }}">
        <button class="btn btn-lg btn-block btn-outline-success  font-weight-bold visible text-center">
          <div class="d-flex flex-row mb-n1">
            <div class="text-center my-auto ml-n1">
              <i class="material-icons font-weight-bold">add_circle_outline</i>
            </div>
            <div class="text-center m-auto pl-3 pb-2 pr-1">
              <span class="">Post something!</span>
            </div>
          </div>
        </button>
        </form>
      </div>
    </div>
    <div class="page-nav-bar d-flex flex-row text-center mx-auto">
    {% if pagination.has_prev%}
      <a class="invisible" href="{{ url_for('posts_index', page=pagination.page-1) }}">
        <span class="visible color-hover pag3-link m-2 material-icons text-secondary">
          keyboard_arrow_left
        </span>
      </a>
    {% endif %}
    {% if not 1 in page_range %}
      <span class="pag3-link m-2">
        <a class="text-secondary small-text-l" href="{{ url_for('posts_index', page=1) }}">
          1
        </a>
      </span>
      <span class="pag3-link m-2">
          ...
      </span>
    {% endif %}
    {% for page in page_range %}
      {% if page == pagination.page %}
      <span class="pag3-link m-2 font-weight-bold">
        <a class="text-secondary" href="{{ url_for('posts_index', page=page) }}">
          {{ page }}
        </a>
      </span>
      {% else %}
      <span class="pag3-link m-2">
        <a class="text-secondary small-text-l" href="{{ url_for('posts_index', page=page) }}">
          {{ page }}
        </a>
      </span>
      {% endif %}
    {% endfor %}
    {% if not pagination.pages in page_range %}
      <span class="pag3-link m-2">
          ...
      </span>
      <span class="pag3-link m-2">
        <a class="text-secondary small-text-l" href="{{ url_for('posts_index', page=pagination.pages) }}">
          {{ pagination.pages }}
        </a>
      </span>
    {% endif %}
    {% if pagination.has_next%}
      <a class="invisible" href="{{ url_for('posts_index', page=pagination.page+1) }}">
        <span class="visible color-hover pag3-link m-2 material-icons text-secondary">
          keyboard_arrow_right
        </span>
      </a>
    {% endif %}
    </div>
  {% for post in posts %}
    <div class="d-flex flex-row shadow-sm rounded bg-white m-1">
      <div class="d-flex flex-column px-1"
           style="min-width: 50px;">
        <div class="mx-auto mb-n3 text-center">
        {% if post.likeValue.name == "like" %}
          <form method="POST" action="{{ url_for('posts_undo_like', post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <span class="material-icons font-weight-bold visible text-success">arrow_drop_up</span>
            </button>
          </form>
        {% else %}
          <form method="POST" action="{{ url_for('posts_like', post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <span class="material-icons font-weight-bold visible">arrow_drop_up</span>
            </button>
          </form>
        {% endif %}
        </div>
        <div class="mx-auto text-center">
          <span title="{{ post.likes }} - {{ post.dislikes }}" class="font-weight-bold">{{ post.likes - post.dislikes }}</span>
        </div>
        <div class="mx-auto mt-n2 text-center">
        {% if post.likeValue.name == "dislike" %}
          <form method="POST" action="{{ url_for('posts_undo_dislike', post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <span class="material-icons font-weight-bold visible text-danger">arrow_drop_down</span>
            </button>
          </form>
        {% else %}
          <form method="POST" action="{{ url_for('posts_dislike', post_id=post.id) }}">
            <button class="invisible p-0" type="submit">
              <span class="material-icons font-weight-bold visible">arrow_drop_down</span>
            </button>
          </form>
        {% endif %}
        </div>
      </div>
      <!-- Posted by, Title, Comment amount -->
<!--       <div class="d-flex flex-column">
        
      </div> -->
      <div class="flex-grow-1 my-auto pt-1 pl-1 pr-1">
        <!-- posted by -->
        <div class="posted-by text-secondary small-text">
          Posted by <span class="text-secondary small-text font-weight-bold mr-1">{{ post.user.username }}</span> {{ post.time_since_created_str() }}
        </div>
        <!-- title -->
        <div class="mt-1">
          <a href="{{ url_for('posts_details', post_id=post.id) }}">
            <h3 class="mb-0 text-body">{{ post.title }}</h3>
          </a>
        </div>
        <!-- comments + edit -->
        <div class="misc-container d-flex flex-row pt-1">
          <div class="comments mr-1">
            <a class="invisible" href="{{ url_for('posts_details', post_id=post.id) }}#Comments">
              <button class="invisible p-0" type="submit">
                <div class="d-flex flex-row btn p-0 color-hover text-secondary visible">
                  <div class="material-icons md-14 visible">forum</div>
                  <div class="visible pl-1 small-text font-weight-bold">
                  {{ post.comments }} Comments</div>
                </div>
              </button>
            </a>
          </div>
        {% if current_user.id == post.account_id %}
          <div class="edit mr-1">
            <a class="invisible" href="{{ url_for('posts_edit_form', post_id=post.id) }}">
              <button class="invisible p-0" type="submit">
                <div class="d-flex flex-row btn p-0 color-hover text-secondary visible">
                  <div class="material-icons md-14 visible">edit</div>
                  <div class="visible pb-1 pl-1 small-text font-weight-bold">Edit</div>
                </div>
              </button>
            </a>
          </div>
          <div class="delete text-left mr-1">
            <form method="POST" action="{{ url_for('posts_delete', post_id=post.id) }}">
              <button class="invisible p-0" type="submit">
                <div class="d-flex flex-row btn p-0 color-hover text-secondary visible">
                  <div class="material-icons md-14 visible">delete</div>
                  <div class="visible pb-1 pl-1 small-text font-weight-bold">Delete</div>
                </div>
              </button>
            </form>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
    <div class="page-nav-bar d-flex flex-row text-center mx-auto">
    {% if pagination.has_prev%}
      <a class="invisible" href="{{ url_for('posts_index', page=pagination.page-1) }}">
        <span class="visible color-hover pag3-link m-2 material-icons text-secondary">
          keyboard_arrow_left
        </span>
      </a>
    {% endif %}
    {% if not 1 in page_range %}
      <span class="pag3-link m-2">
        <a class="text-secondary small-text-l" href="{{ url_for('posts_index', page=1) }}">
          1
        </a>
      </span>
      <span class="pag3-link m-2">
          ...
      </span>
    {% endif %}
    {% for page in page_range %}
      {% if page == pagination.page %}
      <span class="pag3-link m-2 font-weight-bold">
        <a class="text-secondary" href="{{ url_for('posts_index', page=page) }}">
          {{ page }}
        </a>
      </span>
      {% else %}
      <span class="pag3-link m-2">
        <a class="text-secondary small-text-l" href="{{ url_for('posts_index', page=page) }}">
          {{ page }}
        </a>
      </span>
      {% endif %}
    {% endfor %}
    {% if not pagination.pages in page_range %}
      <span class="pag3-link m-2">
          ...
      </span>
      <span class="pag3-link m-2">
        <a class="text-secondary small-text-l" href="{{ url_for('posts_index', page=pagination.pages) }}">
          {{ pagination.pages }}
        </a>
      </span>
    {% endif %}
    {% if pagination.has_next%}
      <a class="invisible" href="{{ url_for('posts_index', page=pagination.page+1) }}">
        <span class="visible color-hover pag3-link m-2 material-icons text-secondary">
          keyboard_arrow_right
        </span>
      </a>
    {% endif %}
    </div>
  </div>
{% endblock %}