{% block body %}
<div>
  <div id="comment-box" style="max-width:450px">
    <form method="POST" action="{{ url_for('comments_create', post_id = post.id) }}">
      <div class="mt-2 mb-1">
        {{ form.content.label(class_="sr-only") }}
        {{ form.content(rows=4, class_="form-control", placeholder="Write your comment here...") }}
      </div>
      <div>
        <div class="text-right small-text">
          <button class="btn btn-success btn-rounded py-1 px-2 m-0 small-text-l font-weight-bold" type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
  <div id="Comments">
  {%- macro traverse(comments) %}
    {%- for comment in comments  %}
    <div class="main m-1 pt-1 pl-2 bg-white border rounded">
      <div class="comment d-flex flex-column" id="{{ comment.id }}">
        <div class="posted-by text-secondary small-text">
        {% if comment.user %}
          <span class="text-info small-text font-weight-bold mr-1">
            {{ comment.user.username }}
          </span>
        {% else %}
          <span class="text-muted small-text font-weight-bold mr-1">
            [deleted]
          </span>
        {% endif %}
        {{ comment.time_since_created_str() }}
        </div>
        <div class="content-container">
        {% if comment.deleted %}
          <p class="mb-0 text-muted">
            [deleted]
          </p>
        {% else %}
          {% for paragraph in comment.content.split('\n')[:-1] %}
          <p class="mb-1">{{ paragraph }}</p>
          {% endfor %}
          <p class="mb-0">{{ comment.content.split('\n')[-1] }}</p>
        {% endif %}
        </div>
        <div class="misc-container d-flex flex-row pt-1">
          <div class="reply mr-1">
            <button class="invisible p-0" onclick="show_reply_box({{ comment.id }})">
              <div class="d-flex flex-row btn p-0 color-hover text-secondary visible">
                <div class="material-icons md-14 visible">reply</div>
                <div class="visible pb-1 pl-1 small-text font-weight-bold">Reply</div>
              </div>
            </button>
          </div>
        {% if current_user.id == comment.account_id %}
          <div class="delete text-left mr-1">
            <form method="POST" action="{{ url_for('comments_delete', post_id=post.id, comment_id=comment.id) }}">
              <button class="invisible p-0" type="submit">
                <div class="d-flex flex-row btn p-0 color-hover-red text-secondary visible">
                  <div class="material-icons md-14 visible">delete</div>
                  <div class="visible pb-1 pl-1 small-text font-weight-bold">Delete</div>
                </div>
              </button>
            </form>
          </div>
        {% endif %}
        </div>
      </div>
      <div class="children ml-3">
        {{ traverse(comment.children) }}
      </div>
    </div>
    {% endfor %}
  {%- endmacro %}
  {{ traverse(commentTree) }}
  </div>
</div>
<script type="text/javascript">
  const show_reply_box = (comment_id) => {
    var comment = document.getElementById(comment_id);
    var childrenContainer = comment.nextElementSibling;

    var commentBox = document.getElementById('comment-box')
                             .cloneNode(true);

    var act = `{{ url_for('comments_create', post_id=post.id) }}/${comment_id}`;

    commentBox.getElementsByTagName('form')[0].action = act;
    commentBox.id = 'reply-box';
    commentBox.classList.add('mb-1');

    var previousCommentBox = document.getElementById('reply-box');

    if (previousCommentBox !== null) {
      previousCommentBox.parentNode.removeChild(previousCommentBox);
    };

    childrenContainer.prepend(commentBox);
  };
</script>
{% endblock %}