{% extends "layout.html" %}

{% block body %}
<div class="bg-white m-auto p-4 border rounded" style="min-width: 320px; max-width: 420px">
  <form class="form-signin" method="POST" action="{{ url_for('auth_signup') }}">
    <h1 class="mb-4">Sign up</h1>
    <div class="my-2">
      {{ form.username.label(class_="sr-only") }}
      {{ form.username(class_="form-control", placeholder="Username", autofocus="", required="") }}
    </div>
  {% if form.username.errors %}
    <div class="text-info">
      <ul>
        {% for error in form.username.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
    <div class="my-2">
      {{ form.password.label(class_="sr-only") }}
      {{ form.password(class_="form-control", placeholder="Password", required="") }}
    </div>
  {% if form.password.errors %}
    <div class="text-info">
      <ul>
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
    <div class="my-2">
      {{ form.confirmPassword.label(class_="sr-only") }}
      {{ form.confirmPassword(class_="form-control", placeholder="Repeat password", required="") }}
    </div>
  {% if form.confirmPassword.errors %}
    <div class="text-info">
      <ul>
        {% for error in form.confirmPassword.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if error %}
    <div class="text-info text-center mb-2">
      {{ error }}
    </div>
  {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
  <hr>
  <div class="text-center">
    <h2>Already have an account?</h2>
    <a class="btn btn-primary font-weight-bold" href="{{ url_for('auth_login') }}">
      Sign in
    </a>
  </div>
</div>
{% endblock %}